---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import Config from '../../consts';
import { getCollection, CollectionEntry } from 'astro:content';

const photos = await getCollection('photos', ({ data }) => {
    return data.draft !== true;
});

const orderedPhotos: CollectionEntry<'photos'>[] = photos.sort((a, b) => new Date(b.data.pubDate).valueOf() - new Date(a.data.pubDate).valueOf());
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={Config.SITE_TITLE} description={Config.SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<p>These images are taken in RAW format, edited, and exported to PNG - so they're pretty large (~70MB).
				I use my own custom software to optimize the photo size down to ~5MB and convert to webp format.
			</p>
			<section>
				<ul>
					{
						orderedPhotos.map((photo) => (
                            <article>
                                <a href={`/photos/${photo.slug}/`}>
                                    <img src={photo.data.img} width={860} height={392} alt="photography img">    
                                </a>
                            </article>
						))
					}
				</ul>
			</section>
		</main>
		<Footer />
	</body>
</html>
