---
import Layout from "../layouts/mainLayout.astro";
import Config from "../main.config.mjs";
import { Modal } from "../components/animated/modal";
---
<html lang="en">
	<Layout pageTitle="Unique Digital Stories for your Customers">
		<div>
			<p>Web development and cyber security specialists</p>
		</div>
		<hr />
		<p>TypeScript Web Development</p>
		<ul>
			<li>Astro web framework, lighting fast websites - minimal JavaScript</li>
			<li>NextJS (React) or Preact web applications</li>
			<li>AdonisJS, NestJS, or Go (Gin) for web APIs</li>
		</ul>
		<p>My Preferred Databases</p>
		<ul>
			<li>PostgreSQL</li>
			<li>Supabase (PostgreSQL)</li>
			<li>Detabase (NoSQL)</li>
			<li>MongoDB (NoSQL)</li>
		</ul>
		<p>DevOps & CI/CD Experience</p>
		<ul>
			<li>GitHub Actions</li>
			<li>CircleCI</li>
			<li>WoodpeckerCI (A fork of DroneCI)</li>
			<li>Self-hosted Kubernetes K3s workloads using Portainer (Docker)</li>
		</ul>
		<hr />
		<strong><p>Projects</p></strong>
		<ul>
			<li><a href="https://github.com/CM-IV/mef-api">Monero Economic Forum API</a> -- A fully-featured REST API made with the Go Gin web framework</li>
			<li><a href="https://github.com/CM-IV/Basedbin">Basedbin</a> -- A Pastebin alternative, made with RakkasJS.</li>
			<li><a href="https://github.com/CM-IV/cmiv-CLI">cmiv-CLI</a> -- NodeJS CLI that bootstraps Vitejs or Snowpack containerized Preact frontends</li>
			<li><a href="https://github.com/CM-IV/GPACalculator_LinkedList">C++ Linked List GPA Calculator</a> -- A CLI program written in C++ utilizing the Linked List DS</li>
			<li><a href="https://github.com/CM-IV/web-image-optimizer">Web Image Optimizer</a> -- An Electronjs desktop app for optimizing photos on the web.</li>
		</ul>
		<hr />
		<strong><p>Links</p></strong>
		<ul>
			<li>Business Email: {Config.socialMedia.email}</li>
			<li><a href={`https://github.com/${Config.socialMedia.github}`}>GitHub Page</a></li>
		</ul>
		<hr />
		<Modal client:load />
	</Layout>
</html>