---
import BaseLayout from "../layouts/BaseLayout.astro";
import ProjectCard from "../components/ProjectCard.astro";
import localImg from "../img/odg.png";
---

<BaseLayout title = "Projects" sideBarActiveItemID="projects">
  <div>
    <div class="text-3xl w-full font-bold mb-5">My Projects</div>
  </div>

  <ProjectCard
    title="crypto_rs"
    img={localImg}
    desc="GNU/Linux file encryption software written in Rust with the age encryption format."
    url="https://github.com/CM-IV/crypto_rs"
    badge="FOSS"
  />
  <div class="divider my-0"></div>
  <ProjectCard
    title="bun-crypto"
    img={localImg}
    desc="A file encryption library for Nodejs/Bun using Rust and Napi-rs."
    url="https://github.com/CM-IV/bun-crypto"
    badge="FOSS"
  />
  <div class="divider my-0"></div>
  <ProjectCard
    title="CMIV-CLI"
    img={localImg}
    desc="A command line interface which generates frontend frameworks."
    url="https://github.com/CM-IV/cmiv-CLI"
    badge="FOSS"
  />
  <div class="divider my-0"></div>
  <ProjectCard
    title="Gossip Gobbler"
    img={localImg}
    desc="A data scraper web application with integrated drive storage, RBAC, and CSV exports."
    url="https://gg.civdev.xyz"
    badge="FOSS"
  />
</BaseLayout>
