---
import Author from './author.astro';

export interface Props {
  title: string;
  description: string;
  author: string;
  pubDate: string;
}

const { title, description, pubDate } = Astro.props;
---
<section>
  <header>
    <p>{pubDate}</p>
    <h3>{title}</h3>
    <p>{description}</p>
    <Author name="CM-IV" />
  </header>
  <slot />
  <div class="Giscus"></div>
</section>
<script src="https://giscus.app/client.js"
        data-repo="CM-IV/main-astro-site"
        data-repo-id="R_kgDOHVO21Q"
        data-category="General"
        data-category-id="DIC_kwDOHVO21c4CPF35"
        data-mapping="pathname"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="preferred-color-scheme"
        data-lang="en"
        crossorigin="anonymous"
        async>
</script>