---
const request = await fetch("https://api.letsupload.cc/v2/file/P7Ifk018ya/info");
const response = await request.json();

const file_url = response.data.file.url.full;
---
<strong><p>Web Image Optimizer (tar.xz)</p></strong>
<p>
    <a href={file_url}>Download</a>
</p>
<p>AppImage SHA512: 07834f03150c43d9f1deeb26e6157783aab6a234ccf7c3e9d4a4a3c7b21fb5909fb41ab17a95e1cc1f81ee0a3c8ef983548ff7ebd13444d551a9af94a03a33a0</p>