---
const request = await fetch("https://api.anonfiles.com/v2/file/36S1rf1eyd/info");
const response = await request.json();

const file_url = response.data.file.url.full;
---
<strong><p>Linux Web Image Optimizer v0.1.1</p></strong>
<p>
    <a href={file_url}>File Download</a>
</p>
<p>
    <a href="/256x256.png" download>Icon Download</a>
</p>
<p>AppImage SHA512: 1c33af28a42e133373cfe03b80161d5b9107ec18395864a0789a6e58bcb93e5608c02e2dbc4605a470ad3442e57dd64270aa74ce5780f98d28d06dd9481d6188</p>