---
const request = await fetch("https://api.anonfiles.com/v2/file/v9B0p716yd/info");
const response = await request.json();

const file_url = response.data.file.url.full;
---
<strong><p>Linux Web Image Optimizer v0.1.1</p></strong>
<p>
    <a href={file_url}>File Download</a>
</p>
<p>
    <a href="/256x256.png" download>Icon Download</a>
</p>
<p>AppImage SHA512: e603066ef313444c9fcef8c0ebb4659fd0afbb081376af77493fc9517593679c108a6e859ee4ab2c2cae6f1578a958e589aa9fdc54e0ee531e6c1184c602f851</p>