---
const linuxRequest = await fetch("https://api.anonfiles.com/v2/file/36S1rf1eyd/info");
const winRequest = await fetch("https://api.anonfiles.com/v2/file/gek7zf11ya/info")
const linuxResponse = await linuxRequest.json();
const winResponse = await winRequest.json();

const linuxFileUrl = linuxResponse.data.file.url.full;
const winFileUrl = winResponse.data.file.url.full;
---
<section>
    <strong><p>Web Image Optimizer</p></strong>
    <div class="flex-container">
        <div>
            <div class="terminal-card">
                <header>Linux</header>
                <div id="links">
                    <a  href={linuxFileUrl}>AppImage Download</a>
                </div>
                <div id="links">
                    <a href="/256x256.png" download>Icon Download</a>
                </div>
                <div id="links">
                    <a href="/linuxChecksum/sha512sum.txt" download>sha512sum</a>
                </div>
            </div>
        </div>
        <div>
            <div class="terminal-card">
                <header>Windows</header>
                <div id="links">
                    <a href={winFileUrl}>Installer Download (.exe)</a>
                </div>
                <div id="links">
                    <a href="/winChecksum/sha512sum.txt" download>sha512sum</a>
                </div>
            </div>
        </div>
    </div>
</section>