---
import Config from "../consts";
---

<footer>
	<p>{Config.footer}</p>
    <p>Made with <a href="https://astro.build">Astro</a>.</p>
    <p>Styled with <a href="https://simplecss.org/">simplecss</a>.</p>
</footer>
