---
import { Picture } from "@astrojs/image/components";
import { Icon } from "astro-icon";
---

<main
  class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-12 md:pb-24">
  <div class="py-6 md:order-1 hidden md:block">
    <Picture
      src={"https://ik.imagekit.io/xbkhabiqcy9/img/oskar-yildiz-cOkpTiJMGzA-unsplash_iNLe4XuI4.jpg?updatedAt=1669480510560"}
      alt="hero image"
      widths={[200, 400, 600]}
      aspectRatio="4:3"
      sizes="(max-width: 800px) 100vw, 620px"
      loading="eager"
      format="avif"
    />
  </div>
  <div>
    <h1
      class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter">
      Unleash Your Imagination
    </h1>
    <p class="text-lg mt-4 max-w-xl">
      Collaborate with a team that shares your passion for pushing the boundaries of what's possible.
    </p>
    <div class="mt-6 flex flex-col sm:flex-row gap-3">
      <a
        href="/contact"
        target="_blank"
        class="btn flex gap-1 items-center justify-center"
        rel="noopener">
        <Icon class="w-5 h-5" name="bx:bxs-right-arrow-alt" />
        Get in Touch
      </a>
      <a
        rel="noopener"
        href="https://github.com/CM-IV/main-astro-site"
        class="btn btn-outline flex gap-1 items-center justify-center"
        target="_blank">
        <Icon class="text-black w-4 h-4" name="bx:bxl-github" />
        GitHub Repo
      </a>
    </div>
  </div>
</main>
