---
import { Vite } from "./ui/icons";
import { React } from "./ui/icons";
import { Rust } from "./ui/icons";
import { Node } from "./ui/icons";
---

<div class="mt-24">
  <h2 class="text-center">Trusted Technology Experience</h2>
  <div class="flex gap-8 md:gap-20 items-center justify-center mt-10 flex-wrap">
    <React class="h-8 md:h-12 fill-current" />
    <Vite class="h-8 md:h-12 fill-current" />
    <Rust class="h-8 md:h-12 fill-current" />
    <Node class="h-8 md:h-12 fill-current" />
  </div>
</div>
