<div>
  <div class="terminal-nav">
    <header class="terminal-logo">
        <div class="logo terminal-prompt">
            <a href="/" class="no-style">
                Occident Tech Software
            </a>
        </div>
    </header>
    <nav id="navMenu" class="terminal-menu">
      <ul vocab="https://schema.org/" typeof="BreadcrumbList">
        <li property="itemListElement" typeof="ListItem"><a href="/news" property="item" typeof="WebPage" class="menu-item"><span property="name">Posts</span></a><meta property="position" content="1"></li>
        <!-- <li property="itemListElement" typeof="ListItem"><a href="/contact" property="item" typeof="WebPage" class="menu-item"><span property="name">Contact</span></a><meta property="position" content="2"></li> -->
        <!-- <li property="itemListElement" typeof="ListItem"><a href="#" property="item" typeof="WebPage" class="menu-item"><span property="name">Resume</span></a><meta property="position" content="3"></li> -->
        <li property="itemListElement" typeof="ListItem"><a href="/news/rss.xml" property="item" typeof="WebPage" class="menu-item"><span property="name">Feed</span></a><meta property="position" content="4"></li>
      </ul>
    </nav>
  </div>
</div>
