---
import Config from "../main.config.mjs";
import NavLink from "./navLink.astro";

const pageTitle = Config.siteTitle;
---

<header>
  <nav>
    <NavLink href="/">Home</NavLink>
    <NavLink href="/news">Blog</NavLink>
    <NavLink href="/downloads">Downloads</NavLink>
    <NavLink href="/archive">Archives</NavLink>
    <NavLink href="/news/rss.xml">RSS</NavLink>
  </nav>
  <h2>{pageTitle}</h2>
  <p>Software Engineer & Web Developer for <a href="#hireme">hire</a></p>
</header>