---
const { page } = Astro.props;
---

<div class="flex gap-x-4 pt-6 pl-6">
    {page.url.prev ? (
        <!-- Previous Button -->
        <a href={page.url.prev} class="btn">
            Newer Posts
        </a>
    ) : (
        <!-- Previous Button -->
        <a href={page.url.prev} onclick="return false;" class="disabled:opacity-75 not-allowed btn">
            Newer Posts
        </a>
    )}
  
    {page.url.next ? (
        <!-- Next Button -->
        <a href={page.url.next} class="btn">
            Older Posts
        </a>
    ) : (
        <!-- Previous Button -->
        <a href={page.url.next} onclick="return false;" class="disabled:opacity-75 not-allowed btn">
            Older Posts
        </a>
    )}
</div>

<style>
    .not-allowed{
        cursor: not-allowed !important;  
    }
</style>