---
const { page } = Astro.props;
---

<div class="flex gap-x-4 pt-6 pl-6">
    {page.url.prev ? (
        <!-- Previous Button -->
        <button type="button" class="btn">
            <a href={page.url.prev}>
                Newer Posts
            </a>
        </button>
    ) : (
        <!-- Previous Button -->
        <button type="button" class="btn not-allowed opacity-25">
            <a href={page.url.prev}>
                Newer Posts
            </a>    
        </button>
    )}
  
    {page.url.next ? (
        <!-- Next Button -->
        <button type="button" class="btn">
            <a href={page.url.next}>
                Older Posts
            </a>    
        </button>
    ) : (
        <!-- Previous Button -->
        <button type="button" class="btn not-allowed opacity-25">
            <a href={page.url.next}>
                Older Posts
            </a>
        </button>
    )}
</div>

<style>
    .not-allowed {
        pointer-events: none;
    }
</style>