---
import Headers from "../components/headers.astro";
import Footer from "../components/footer.astro";
import Nav from "../components/nav.astro";
---
<html lang="en" data-theme="dark">
    <Headers title="Dreamland Software"/>
        <Nav />
        <main>
            <slot />
        </main>
        <Footer />
</html>